# OS
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.sln.iml

# Build & output
bin/
obj/
out/

# NuGet
*.nupkg
packages/
.nuget/

# Logs & temp
*.log
*.tmp
*.cache

# Blazor WASM
wwwroot/_framework/
wwwroot/appsettings*.json

# Secrets
appsettings.Development.json
*.env
secrets.json
