@page "/CreateEvent"
@using Microsoft.EntityFrameworkCore
@using OnliFal.Components.Models;

@inject IDbContextFactory<AppDbContext> DbFactory 
@inject NavigationManager NavigationManager



<form Model="Event" method="post" @onsubmit="Create" formname="Submit">
    
    <div>
        <label>
            Identifier: 
            <select class="h-fit rounded-lg p-2 bg-gray-900 w-fit text-center text-white"   name="regions" id="regions" @bind="Evenement.Type">
                <option value="aperal" class="">Apéral</option>
                <option value="OB" class="">Open Bar</option>
                <option value="congres" class="">Congres</option>
            </select>
            <InputText class="h-fit rounded-lg p-2 bg-gray-900 w-fit text-center text-white" @bind-Value="Evenement.Name" />
            <InputText class="h-fit rounded-lg p-2 bg-gray-900 w-fit text-center text-white" @bind-Value="Evenement.Description" />
            <InputText class="h-fit rounded-lg p-2 bg-gray-900 w-fit text-center text-white" @bind-Value="Evenement.ImageLink" />
            <InputDate class="h-fit rounded-lg p-2 bg-gray-900 w-fit text-center text-white" @bind-Value="Evenement.Date" />
            
            
            
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
