@page "/"

<PageTitle>OnliFAL</PageTitle>

<div class="flex flex-col bg-gray-800 h-dvh p-8 gap-8 items-center">
    <div class=" bg-pink-400 rounded-lg h-1/2 w-1/2 m-1/2 justify-center">
        
    </div>
    
    <div class="flex flex-row gap-8 w-full scroll-pbs-9-80 snap-x overflow-auto justify-center-safe overscroll-auto p-4">
        <div class="rounded-lg snap-start bg-amber-300 min-h-80 min-w-1/4">1</div>
        <div class="rounded-lg snap-start bg-green-400 min-w-1/4">2</div>     
        <div class="rounded-lg snap-start bg-blue-400 min-w-1/4">3</div>
       
        
    </div>

</div>